@charset "UTF-8";

.n-accordion {
  position: relative;
  margin: 0;
  max-width: 100%;
  z-index: 1; 
  
  display: grid; /* CSS-only checkbox */
  
  }
  .n-accordion > .n-accordion--label {
    margin: 0;
    float: none;
    text-align: left;
    text-align: start;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: zoom-in;
    position: relative;
    padding: .75em 0;
    padding-right: 1.5em; 
	box-sizing: border-box;
	white-space: initial;
    }
    .n-accordion > .n-accordion--label:after {
      content: "▼";
      position: absolute;
      right: 1em;
      font-size: .5em;
      top: 50%;
      transform: translateY(-50%); }
  .n-accordion[aria-expanded] > .n-accordion--label {
    cursor: zoom-out; }
    .n-accordion[aria-expanded] > .n-accordion--label:after {
      content: "▲"; }
  .n-accordion:not([data-init]):not(.mobile) .n-accordion--content {
    /* hidden fold item */
    overflow: hidden;
    cursor: auto;
    will-change: max-width; }
  .n-accordion[aria-expanded] .n-accordion--content {
    max-height: none; }
  .n-accordion:not([aria-expanded]):not(.mobile):not(.horizontal) > .n-accordion--content, .n-accordion[aria-expanded]:not(.horizontal) input.trigger:checked ~ .n-accordion--content {
    max-height: 0;
    max-height: var(--start-height, 0); }
  .n-accordion:first-of-type {
    margin-bottom: 0; }
    .n-accordion:first-of-type .n-accordion--content {
      padding-top: 0; }
  .n-accordion:not(.horizontal) > input.trigger:checked ~ .n-accordion--content, .n-accordion.mobile:not(.horizontal) .n-accordion--content {
    max-height: none; }
  .n-accordion[aria-expanded] > input.trigger + .n-accordion--content {
    display: inline-block; }
    
    
.n-accordion > .n-accordion--label, .n-accordion > input {
	
	grid-column-start: 1;
	grid-row-start: 1;
	
}

.n-accordion > input {

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	z-index: 1;
	cursor: zoom-in;
	
}

.n-accordion > input:checked {

	cursor: zoom-out;
	
}

.n-accordion:not([aria-expanded]):not(.mobile):not(.horizontal) > input:checked ~ .n-accordion--content {
	
	max-height: none;
	
}
